.header {
    padding: 20px 0;
    &_home {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        opacity: .99;
    }
    &_search {
        display: flex;
        align-items: center;
        @include _respond-to(767) {
            display: none;
        }
    }
    &_top {
        position: relative;
        opacity: .99;
        @include _respond-to(767) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    &_block {
        padding-bottom: 20px;
    }
    &_info {
        text-align: right;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include _respond-to(767) {
            display: none;
        }
        a {
            font-weight: 500;
            color: $green;
            transition: .3s ease-in-out;
            line-height: 30px;
            @include _respond-to(1199) {
                font-size: 16px;
            }
            @include _respond-to(480) {
                font-size: 14px;
                line-height: 18px;
            }
            &:hover {
                color: $green-hover;
            }
        }
    }
}