.mobile_menu {
    position: fixed;
    top: 0;
    left: -4000px;
    width: 80%;
    height: 100%;
    background: $mob_menu_bg;
    z-index: 1001;
    transition: .5s ease-in-out;
    padding: 35px 50px 50px;
    box-shadow: 4px 0px 10px 1px rgba(31, 41, 48, 0.44);
    @include _respond-to(480) {
        padding: 35px 25px 50px;
    }
    &.active {
        left: 0;
    }
    &_info {
        display: flex;
        flex-direction: column;
        a {
            color: $green;
            font-weight: 500;
            font-size: 16px;
        }

    }
    .mob_menu {
       padding-top: 40px;
       ul {
           width: 100%;
           li {
               padding: 5px 0;
               border-bottom: 1px solid $blue;
               &:last-child {
                   border-bottom: none;
               }
               a {
                   font-weight: 500;
                   font-size: 14px;
                   color: $blue;
                   text-transform: uppercase;
                   &:hover {
                       text-decoration: underline;
                   }
               }
           }
       }
    }
    &_search {
        margin-bottom: 50px;

    }
}

.bg {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(47, 47, 47, 0.4);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  &.activate {
      display: block;
  }
}




