.faq {
  padding: 130px 0;
  @include _respond-to(768) {
    padding: 60px 0;
  }
  &-wrapper {
    padding-top: 60px;
  }
  &-item {
    width: 100%;
    &.open {
      h4 {
        i {
          transform: rotate(180deg);
        }
      }

    }
  }
  &-header {
    padding: 10px 0;
    border-bottom: 1px solid $green;
    cursor: pointer;
    i {
      transition: .4s ease-in-out;
    }
    span {
      padding-left: 15px;
    }
  }
  &-content {
    display: none;
  }
}